.basket{
    min-height: 100vh;
    background: $bg-col;
    &__title{
        text-align: center;
        padding: 20px 0;
    }

    &__list{
        margin-bottom: 20px;
    }
   
    
    &__item{
        width: 100%;
        background: #fff;
        border: 1px solid $grey;
        border-radius: 10px;
        display: flex;
        margin-bottom: 10px;
        border: 1px solid grey;
        &-left{
            width: 30%;
            padding: 10px;

            display: flex;
        }
        &-img{
            max-width: 150px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;

        }
        &-right{
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 30px;
            width: 70%;
        }
        &-count{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 20%;
        }
       
        
         &-btn{
             width: 35px;
             height: 35px;
             display: flex;
             justify-content: center;
             align-items: center;
             border: none;
             border-radius: 4px;
             background: $orangelight;
             transition: .3s all linear;
             &:hover{
                 background: $orange;
             }
         }
    }
    &__total{
        margin: 50px auto 0;
        max-width: 763px;
        width: 100%;
        border-radius: 10px;
        padding: 20px 40px 11px;
        

        
        

    }
    
}