.footer{
    border-top: 1px solid $grey;
    &__row{   
        margin-top: 20px;
        display: flex;
    }
    &__column{
        width: 33.33333%;
        padding: 0 41px 60px 41px;
        &-2{
            border-right: .5px solid $grey;
            border-left: .5px solid $grey;

        }
    }
    &__list{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
            &-address{
                display: flex;
                flex-direction: column;
            }
    }
    &__item-address-text{
        @include text(18px, 400, 1.2, $grey);
    }
    &__link{
        @include text(18px, 400, 1.2, #000000);
        transition: .2s all linear;
        &-tel{
            @include text(18px, 400, 1.2, $grey);
        }
        &:hover{
            color: $orangelight;
        }

    }
    &__form{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        &-title{
            @include text(18px, 400, 1.2, #000000);
        }
        &-text{
            @include text(18px, 400, 1.2, $grey);
        }
        &-field{
           border: none;
           padding: 0 10px;
           height: 30px;
           @include text(18px, 400, 1.2, $black);
           outline: none;
           &:placeholder{
                color: $grey;
           }
        }
        
    }
    &__social{
        padding: 20px 0;
        &-list{
            display: flex;
            justify-content: center;
            column-gap: 30px;
            align-items: center;

        }
        &-link{
            width: 50px;
            height: 50px;
        }

        &-icon{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            background: black;
            span{
                padding-top: 4px;
                
            }
            &-whatsup{
                background: #25d366;
                opacity: .5;
                transition: .4s all linear;
                &:hover{
                    opacity: 1;
                }
            }
            &-telegram{
                background: #61A8DE;
                padding-right: 4px;
                opacity: .5;
                transition: .4s all linear;
                &:hover{
                    opacity: 1;
                }
            }
            &-instagram{
                background: linear-gradient(49.12deg, #FFDD55 6.62%, #FF543E 50.06%, #C837AB 93.5%);
                opacity: .5;
                transition: .4s all linear;
                &:hover{
                    opacity: 1;
                }
            }

        }


            
    }

}