.header{
    background: #fff;
    position: relative;

    &__logo{
        width: 100px;
        height: 86px;
        position: relative;
        top: 18px;
        &-name{
            position: absolute;
            top: -30px;
            left: -8px;
            text-transform: uppercase;
        }
        &-img{
            width: 75px;
            height: 75px;
        }
    }

  

     &__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #E5E5E5;
        
     } 
     &__left{
        display: flex;
        align-items: center;
        column-gap: 20px;
     }
     &__contacts{
        text-align: center;
        border-right: 1px solid #E5E5E5;
        padding-right: 20px;
        
        &-text{
            @include text(17px, 500, 1.2, $black);
            margin-top: 6px;
        }
        &-link{
            @include text(18px, 500, 100%, $orangelight);
            margin-bottom: -5px;
        }
        &-time{
            @include text(14px, 500, 1.1, $grey);
            
        }
        &-row{
            display: flex;
            align-items: center;
            column-gap: 6px;
            margin-bottom: 8px;
        }

        &-icon{
           font-size: 15px;
        }
     }
     &__location{
        display: flex;
        flex-direction: column;
        &-text{
            @include text(14px, 300, 1.1, $grey);
        }
        &-city{
            @include text(18px, 500, 1.1, $black);
        }

     }
    
     &__right{
        display: flex;
        align-items: center;
        column-gap: 20px;
        &-link{
            &-reviews{
                @include text(18px, 500, 100%, $black);
            }
            &-delivery{
                @include text(18px, 500, 100%, $orangelight);
            }
        }
     }
     &__basket{
        border: none;
        background: transparent;
        position: relative;
    
        &-icon{
            
            svg{
                fill: $orangelight;
            }
        }
        &-count{
            position: absolute;
            top: -10px;
            right: -10px;

            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid grey;
            background: $orange;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
        }
     }

     &__account{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-icon{
            font-size: 35px;
            margin-bottom: -10px;
           
        }
     }
}